{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="main_minimal" role="main">
    <article class="article__wrapper" role="article">
        <header>
            <h1 class="post__title">{{title}}</h1>
            {{!-- <time class="date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> --}}
        </header>

        <div class="post__pre">
            {{^has tag="#nodate"}}
            <time class="post__date" datetime="{{date format="YYYY-MM-DD"}}">{{^is "post"}}Last Updated:
                {{/is}}{{date}}</time>
            {{/has}}
            {{#if featured}}<span class="post__featured"> | ★ Featured</span>{{/if}}
        </div>

        <section class="post__content-wrapper">
            <div class="post__content">
                {{^has tag="#noFeature"}}
                    <img src="{{feature_image}}" class="kg-image post__feature-image" />
                {{/has}}

                {{#has tag="#preview"}}
                {{> wip}}
                {{/has}}

                {{content}}

                {{#has tag="#preview"}}
                {{> wip}}
                {{/has}}
            </div>
        </section>

        <hr class="post__separator">

        {{#is "post"}}
        {{#if tags}}
        <div class="post__tags">
            Tags: {{tags separator=", "}}
        </div>
        <div class="post__permalink">
            Permalink: <i>{{url absolute='true'}}</i>
        </div>
        {{/if}}
        {{/is}}

    </article>

</main>

{{/post}}

{{> footer}}
